
<section class="about" id="about">

    <h1 class="heading"> <span> About </span> us </h1>

    <div class="row">

        <div class="video-container">
            <video controls="true" src=<%="/img/potteryMaking.mp4"%> loop autoplay muted></video>
            <h3>Made with Love</h3>
        </div>

        <div class="content">
            <h3>Why Choose Us?</h3>
            <p>Bas Khazaf is not just a business, it's a passion. Every piece in our shop has been given the love to grow from a clump of clay to a beautiful delicate masterpiece.</p>
            
                   <p>Our ceramics go through a long beautiful journey before they are delivered to you. We start by extracting the clay from the ground in an area in Bahrain called Riffa. We then water and dry the clay through filters to get rid of stones and rocks. Pure clay is then shaped and structured and fired in high temperatures. Hand-painting and glazing comes next, and ofcourse firing the glazes. In the end, we wrap the ceramics and ship them to you with love. </p>
            <a href="#" class="btn">learn more</a>
        </div>

    </div>

</section>