<section class="home" id="home">

    <div class="content">
        <h3>Handmade Ceramics</h3>
        <span>Aesthetic Ceramics</span>
        <p>Every piece we make is unique. We start with clay and end up with glazed masterpieces that are dinnerware safe. Get ready to sip coffee in art, it's an experience!   </p>
        <a href="#products" class="btn">Shop Now</a>
    </div>
    
</section>

