<section class="products" id="products">

    <h1 class="heading">Cart</h1>

    <div class="row">

        <div class="box-container">  
            <% cart.forEach(function(p){ %> 
                <div class="box">
                    <div class="image">
                        <img src="<%=p.productImg%>" alt="">
                    </div>
                    <div class="content">
                        <h3><%=p.productName%></h3>
                        <div class="price"> BD<%=p.productPrice%> </div>

                </div>
                <%})%>




</div>

</div>


</section>













