<section class="login" id="login">

    <h1 class="heading">Login</h1>

    <div class="row">

<form action="/customers/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">

    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <button type="submit">Login</button>
</form>


</div>

</div>

</section>